<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>space</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>B</string>
      <string>J</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3420</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>Light</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>public.default</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/Yvonne/Dropbox/Type West/BoPoMoFont Iterations/BoPoMoFont_Light_2025-07-23.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>space</string>
      <string>b.ss01</string>
      <string>d.ss01</string>
      <string>p.ss01</string>
      <string>q.ss01</string>
      <string>c.ss01</string>
      <string>C.ss01</string>
      <string>b.ss01.copy_2</string>
      <string>d.ss01.copy_2</string>
      <string>tail</string>
      <string>G.ss01</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>a-bopomofo</key>
      <string>uni311A</string>
      <key>ai-bopomofo</key>
      <string>uni311E</string>
      <key>an-bopomofo</key>
      <string>uni3122</string>
      <key>ang-bopomofo</key>
      <string>uni3124</string>
      <key>au-bopomofo</key>
      <string>uni3120</string>
      <key>b-bopomofo</key>
      <string>uni3105</string>
      <key>c-bopomofo</key>
      <string>uni3118</string>
      <key>ch-bopomofo</key>
      <string>uni3114</string>
      <key>d-bopomofo</key>
      <string>uni3109</string>
      <key>e-bopomofo</key>
      <string>uni311C</string>
      <key>eh-bopomofo</key>
      <string>uni311D</string>
      <key>ei-bopomofo</key>
      <string>uni311F</string>
      <key>en-bopomofo</key>
      <string>uni3123</string>
      <key>eng-bopomofo</key>
      <string>uni3125</string>
      <key>er-bopomofo</key>
      <string>uni3126</string>
      <key>f-bopomofo</key>
      <string>uni3108</string>
      <key>g-bopomofo</key>
      <string>uni310D</string>
      <key>h-bopomofo</key>
      <string>uni310F</string>
      <key>i-bopomofo</key>
      <string>uni3127</string>
      <key>iu-bopomofo</key>
      <string>uni3129</string>
      <key>j-bopomofo</key>
      <string>uni3110</string>
      <key>k-bopomofo</key>
      <string>uni310E</string>
      <key>l-bopomofo</key>
      <string>uni310C</string>
      <key>m-bopomofo</key>
      <string>uni3107</string>
      <key>n-bopomofo</key>
      <string>uni310B</string>
      <key>o-bopomofo</key>
      <string>uni311B</string>
      <key>ou-bopomofo</key>
      <string>uni3121</string>
      <key>p-bopomofo</key>
      <string>uni3106</string>
      <key>q-bopomofo</key>
      <string>uni3111</string>
      <key>r-bopomofo</key>
      <string>uni3116</string>
      <key>s-bopomofo</key>
      <string>uni3119</string>
      <key>sh-bopomofo</key>
      <string>uni3115</string>
      <key>t-bopomofo</key>
      <string>uni310A</string>
      <key>u-bopomofo</key>
      <string>uni3128</string>
      <key>x-bopomofo</key>
      <string>uni3112</string>
      <key>z-bopomofo</key>
      <string>uni3117</string>
      <key>zh-bopomofo</key>
      <string>uni3113</string>
    </dict>
  </dict>
</plist>
