<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a-bopomofo</key>
    <string>a-bopomofo.glif</string>
    <key>ai-bopomofo</key>
    <string>ai-bopomofo.glif</string>
    <key>an-bopomofo</key>
    <string>an-bopomofo.glif</string>
    <key>ang-bopomofo</key>
    <string>ang-bopomofo.glif</string>
    <key>au-bopomofo</key>
    <string>au-bopomofo.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b-bopomofo</key>
    <string>b-bopomofo.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c-bopomofo</key>
    <string>c-bopomofo.glif</string>
    <key>ch-bopomofo</key>
    <string>ch-bopomofo.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d-bopomofo</key>
    <string>d-bopomofo.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e-bopomofo</key>
    <string>e-bopomofo.glif</string>
    <key>eh-bopomofo</key>
    <string>eh-bopomofo.glif</string>
    <key>ei-bopomofo</key>
    <string>ei-bopomofo.glif</string>
    <key>en-bopomofo</key>
    <string>en-bopomofo.glif</string>
    <key>eng-bopomofo</key>
    <string>eng-bopomofo.glif</string>
    <key>er-bopomofo</key>
    <string>er-bopomofo.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f-bopomofo</key>
    <string>f-bopomofo.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g-bopomofo</key>
    <string>g-bopomofo.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h-bopomofo</key>
    <string>h-bopomofo.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i-bopomofo</key>
    <string>i-bopomofo.glif</string>
    <key>iu-bopomofo</key>
    <string>iu-bopomofo.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j-bopomofo</key>
    <string>j-bopomofo.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k-bopomofo</key>
    <string>k-bopomofo.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l-bopomofo</key>
    <string>l-bopomofo.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m-bopomofo</key>
    <string>m-bopomofo.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n-bopomofo</key>
    <string>n-bopomofo.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o-bopomofo</key>
    <string>o-bopomofo.glif</string>
    <key>ou-bopomofo</key>
    <string>ou-bopomofo.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p-bopomofo</key>
    <string>p-bopomofo.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q-bopomofo</key>
    <string>q-bopomofo.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r-bopomofo</key>
    <string>r-bopomofo.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s-bopomofo</key>
    <string>s-bopomofo.glif</string>
    <key>sh-bopomofo</key>
    <string>sh-bopomofo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t-bopomofo</key>
    <string>t-bopomofo.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-bopomofo</key>
    <string>u-bopomofo.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x-bopomofo</key>
    <string>x-bopomofo.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z-bopomofo</key>
    <string>z-bopomofo.glif</string>
    <key>zh-bopomofo</key>
    <string>zh-bopomofo.glif</string>
  </dict>
</plist>
